@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: none;
}

body {
  background: transparent;
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.chat-window {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 72.2 44% 20.9%; /* Dark Slate Blue */

    --card: 0 0% 100%;
    --card-foreground: 72.2 44% 20.9%; /* Dark Slate Blue */

    --popover: 0 0% 100%;
    --popover-foreground: 72.2 44% 20.9%; /* Dark Slate Blue */

    --primary: 236.2 47.4% 34.2%; /* Burnt Orange */
    --primary-foreground: 72.2 44% 20.9%; /* Dark Slate Blue */

    --secondary: 207.1 40% 49.4%; /* Steel Blue */
    --secondary-foreground: 72.2 44% 20.9%; /* Dark Slate Blue */

    --muted: 207.1 26% 22.4%; /* Charcoal Grey */
    --muted-foreground: 217.4 16.3% 46.9%;

    --accent: 207.1 40% 50%; /* Burnt Orange */
    --accent-foreground: 72.2 44% 20.9%; /* Dark Slate Blue */

    --destructive: 348.1 67.6% 40.1%; /* Crimson Red */
    --destructive-foreground: 72.2 44% 20.9%; /* Dark Slate Blue */

    --border: 50.7 77.4% 47%; /* Pale Gold */
    --input: 50.7 77.4% 47%; /* Pale Gold */
    --ring: 348.1 67.6% 40.1%; /* Crimson Red */

    --radius: 0.5rem;
  }

  .dark {
    --background: 72.2 44% 20.9%; /* Dark Slate Blue */
    --foreground: 207.1 40% 98%;

    --card: 72.2 44% 20.9%; /* Dark Slate Blue */
    --card-foreground: 207.1 40% 98%;

    --popover: 72.2 44% 20.9%; /* Dark Slate Blue */
    --popover-foreground: 207.1 40% 98%;

    --primary: 207.1 40% 98%;
    --primary-foreground: 236.2 47.4% 34.2%; /* Burnt Orange */

    --secondary: 207.1 40% 17.5%; /* Steel Blue */
    --secondary-foreground: 207.1 40% 98%;

    --muted: 207.1 40% 22.4%; /* Charcoal Grey */
    --muted-foreground: 217.4 20.2% 65.1%;

    --accent: 207.1 40% 22.4%; /* Burnt Orange */
    --accent-foreground: 207.1 40% 98%;

    --destructive: 348.1 40% 40.6%; /* Crimson Red */
    --destructive-foreground: 207.1 40% 98%;

    --border: 50.7 77.4% 47%; /* Pale Gold */
    --input: 50.7 77.4% 47%; /* Pale Gold */
    --ring: 50.7 77.4% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.chat-bubble {
  background-color: #f1f1f1;
  padding: 16px 28px;
  -webkit-border-t-radius: 10px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-t-radius: 10px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #ffc989;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #ffc989;
  }
  28% {
    transform: translateY(-7px);
    background-color: #ffa947;
  }
  44% {
    transform: translateY(0px);
    background-color: #f1f1f1;
  }
}

.my-config {
  --darkmode: 0;
  --h-accent: 30;
  --s-accent: 100%;
  --l-accent: 50%;
}

.parsed-container img {
  width: 100% !important;
  border-radius: 20px;
}
